body{
background-color: rgba(117, 207, 243, 0.794);
text-align: center;
}

.cuad {
    height: 450px;
    width: 400px;
    border: 1px black;
    margin-left: 300px;
    box-shadow: 5px 5px 5px 5px rgb(31, 31, 31);

}